body {
    background: #111;         /* nero/grigio scuro */
    color: #e0ffe0;           /* verde chiarissimo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #000;
    border-bottom: 3px solid #00ff6a; /* verde neon */
}

header h1 {
    font-size: 3rem;
    color: #00ff6a;  /* verde neon */
}

.item-box {
    background: #1c1c1c;
    border-left: 4px solid #00ff6a;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
}
